@font-face {
  font-family: DSEG7;
  font-style: italic;
  font-weight: bold;
  src: url(DSEG7Classic-BoldItalic.woff2);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 100pt;
  font-family: DSEG7;
  text-align: right;
}

#largebox {
  position: relative;
}

input {
  /* Ta-da! */
  all: unset;
}

#input, #dots {
  padding: .3em;
  width: 50rem;
  border: 1px solid transparent;
}

#input:focus {
  border-color: #ddd;
}

#dots {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
}

#input:focus + #dots {
  visibility: visible;
}

#caption {
  font-family: arial, sans-serif;
  font-size: 20pt;
  width: 50rem;
  text-align: center;
}
