body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #444;
    margin-top: 100px;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.6em;

    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
}

.col {
    min-width: 0;
    max-width: 55ch;
    margin: 0 2ch;
}

p {
    text-align: justify;
}

.scroll-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.curse-frame {
    border: none;
    width: 100%;
    min-width: 583px;
}

a { color: #0097D8; text-decoration: underline; }
a:visited { color: #2857AF; }

h1, h2, h3, h4, h5, h6 {
    color: #163770;
    border-bottom: .1em solid #22488E;
    padding-bottom: .5em;
}

mark, code {
    border-radius: .2em;
    padding: .1em .2em;
    margin: -.1em -.2em;
}

mark {
    background-color: rgba(255, 230, 89, .4);
}

code, pre {
    background-color: rgba(0, 0, 0, .05);
}

pre {
    overflow-x: auto;
    border-radius: .2em;
    counter-reset: line;
}

.line {
    display: inline-block;
    width: 100%;
}

.line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 4ch;
    text-align: right;
    margin-right: 1ch;
}

.line.add {
    background-color: rgba(0, 255, 0, .1);
}
.line.remove {
    background-color: rgba(255, 0, 0, .1);
}

.line.add::before {
    content: '+ ' counter(line);
    color: green;
}
.line.remove::before {
    content: '- ' counter(line);
    color: darkred;
}

pre > code {
    display: block;
    background: none;
    margin: 0;
    padding: .2em 0;
    position: relative;
}

.spaces, .tabs {
    display: inline-block;
    position: relative;
    background-image: repeating-linear-gradient(90deg,
            rgba(0,0,0,.1), rgba(0,0,0,.1) .5px,
            transparent .5px, transparent 4ch);
}

.spaces::before {
    content: '································';
}
.tabs::before {
    content: '→	→	→	→	→	→	→	→	';
}

.spaces::before, .tabs::before {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    color: rgba(0, 0, 0, .3);
}
