:root {
  font-size: 12pt;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

body.sidebar-open {
  overflow: hidden;
}

pre {
  overflow: auto;
}

.button {
  text-transform: uppercase;
  background: white;
  border: 1px solid #ddd;
  padding: .5rem 2rem;
}

.block-placeholder {
  height: 80vh;
  background: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
  box-sizing: border-box;
  width: min(20rem, 85vw);
  background: white;
  padding: 1rem;
  min-height: 100vh;
}

.sidebar-heading {
  font-size: inherit;
  text-transform: uppercase;
}

#main {
  box-sizing: border-box;
  width: 50rem;
  padding: 1rem;
  max-width: 100%;
}

@media (max-width: 70rem) {
  #sidebar {
    position: fixed;
    height: 100vh;
    overflow: auto;
    left: 0;
    z-index: 1;

    transform: translateX(-100%);
    transition: transform;
  }

  #sidebar-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0005;
    pointer-events: none;

    opacity: 0;
    transition: opacity;
  }

  #sidebar-shadow.sidebar-open {
    pointer-events: auto;
  }
}
