@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin max-radius {
  border-radius: 100vmax;
}

.tally {
  width: 16rem;
  height: 9rem;
  padding: 2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 2rem;

  display: grid;
  grid-template: 1fr 4fr 2fr 2fr / 1fr 1fr;
  gap: .25rem;

  font-family: sans-serif;
}

.tally-name {
  text-align: center;
  border: none;
  grid-area: 1 / 1 / 2 / 3;
}

.tally-box {
  text-align: right;
  padding-right: 1ch;

  // At least one size property must be set for box-sizing
  min-width: 0;
  box-sizing: border-box;

  grid-area: 2 / 1 / 3 / 3;
  font-family: "DSEG7 Classic Mini";
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  border: 1px solid #aaa;

  background: none;

  // Hide spinner arrows
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.lcd-effect {
  display: flex;
  align-items: center;
  justify-content: end;

  padding-right: 1ch;
  border: 1px solid transparent;

  grid-area: 2 / 1 / 3 / 3;
  font-family: "DSEG7 Classic Mini";
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;

  &::after {
    content: "8.8.8.8.8.8.8.8.";
    opacity: 0.1;
    z-index: -1;
  }
}

.tally-box:focus {
  outline: none;
}

.tally-button {
  @include centered;
  @include max-radius;

  background: #ddd;
  border: none;

  &:hover, &:focus { background: #eee; }
  &:active { background: #ccc; }

  &:focus { outline: 0; }
  &::-moz-focus-inner { border: 0; }
}

.plus { grid-area: 3 / 2 / 5 / 3; }
.minus { grid-area: 3 / 1 / 4 / 2; }
.reset { grid-area: 4 / 1 / 5 / 2; }
