html {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

body {
  width: 500px;
}

#splits, #timestamps {
  display: block;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  resize: vertical;
}
