.flag {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(sheet.png);
}

.flag.af {background-position: -0px -0px}
.flag.ax {background-position: -16px -0px}
.flag.al {background-position: -32px -0px}
.flag.dz {background-position: -48px -0px}
.flag.as {background-position: -64px -0px}
.flag.ad {background-position: -80px -0px}
.flag.ao {background-position: -96px -0px}
.flag.ai {background-position: -112px -0px}
.flag.aq {background-position: -128px -0px}
.flag.ag {background-position: -144px -0px}
.flag.ar {background-position: -160px -0px}
.flag.am {background-position: -176px -0px}
.flag.aw {background-position: -192px -0px}
.flag.au {background-position: -208px -0px}
.flag.at {background-position: -224px -0px}
.flag.az {background-position: -240px -0px}
.flag.bs {background-position: -0px -16px}
.flag.bh {background-position: -16px -16px}
.flag.bd {background-position: -32px -16px}
.flag.bb {background-position: -48px -16px}
.flag.by {background-position: -64px -16px}
.flag.be {background-position: -80px -16px}
.flag.bz {background-position: -96px -16px}
.flag.bj {background-position: -112px -16px}
.flag.bm {background-position: -128px -16px}
.flag.bt {background-position: -144px -16px}
.flag.bo {background-position: -160px -16px}
.flag.bq {background-position: -176px -16px}
.flag.ba {background-position: -192px -16px}
.flag.bw {background-position: -208px -16px}
.flag.bv {background-position: -224px -16px}
.flag.br {background-position: -240px -16px}
.flag.io {background-position: -0px -32px}
.flag.bn {background-position: -16px -32px}
.flag.bg {background-position: -32px -32px}
.flag.bf {background-position: -48px -32px}
.flag.bi {background-position: -64px -32px}
.flag.kh {background-position: -80px -32px}
.flag.cm {background-position: -96px -32px}
.flag.ca {background-position: -112px -32px}
.flag.cv {background-position: -128px -32px}
.flag.ky {background-position: -144px -32px}
.flag.cf {background-position: -160px -32px}
.flag.td {background-position: -176px -32px}
.flag.cl {background-position: -192px -32px}
.flag.cn {background-position: -208px -32px}
.flag.cx {background-position: -224px -32px}
.flag.cc {background-position: -240px -32px}
.flag.co {background-position: -0px -48px}
.flag.km {background-position: -16px -48px}
.flag.cg {background-position: -32px -48px}
.flag.cd {background-position: -48px -48px}
.flag.ck {background-position: -64px -48px}
.flag.cr {background-position: -80px -48px}
.flag.ci {background-position: -96px -48px}
.flag.hr {background-position: -112px -48px}
.flag.cu {background-position: -128px -48px}
.flag.cw {background-position: -144px -48px}
.flag.cy {background-position: -160px -48px}
.flag.cz {background-position: -176px -48px}
.flag.dk {background-position: -192px -48px}
.flag.dj {background-position: -208px -48px}
.flag.dm {background-position: -224px -48px}
.flag.do {background-position: -240px -48px}
.flag.ec {background-position: -0px -64px}
.flag.eg {background-position: -16px -64px}
.flag.sv {background-position: -32px -64px}
.flag.gq {background-position: -48px -64px}
.flag.er {background-position: -64px -64px}
.flag.ee {background-position: -80px -64px}
.flag.et {background-position: -96px -64px}
.flag.fk {background-position: -112px -64px}
.flag.fo {background-position: -128px -64px}
.flag.fj {background-position: -144px -64px}
.flag.fi {background-position: -160px -64px}
.flag.fr {background-position: -176px -64px}
.flag.gf {background-position: -192px -64px}
.flag.pf {background-position: -208px -64px}
.flag.tf {background-position: -224px -64px}
.flag.ga {background-position: -240px -64px}
.flag.gm {background-position: -0px -80px}
.flag.ge {background-position: -16px -80px}
.flag.de {background-position: -32px -80px}
.flag.gh {background-position: -48px -80px}
.flag.gi {background-position: -64px -80px}
.flag.gr {background-position: -80px -80px}
.flag.gl {background-position: -96px -80px}
.flag.gd {background-position: -112px -80px}
.flag.gp {background-position: -128px -80px}
.flag.gu {background-position: -144px -80px}
.flag.gt {background-position: -160px -80px}
.flag.gg {background-position: -176px -80px}
.flag.gn {background-position: -192px -80px}
.flag.gw {background-position: -208px -80px}
.flag.gy {background-position: -224px -80px}
.flag.ht {background-position: -240px -80px}
.flag.hm {background-position: -0px -96px}
.flag.va {background-position: -16px -96px}
.flag.hn {background-position: -32px -96px}
.flag.hk {background-position: -48px -96px}
.flag.hu {background-position: -64px -96px}
.flag.is {background-position: -80px -96px}
.flag.in {background-position: -96px -96px}
.flag.id {background-position: -112px -96px}
.flag.ir {background-position: -128px -96px}
.flag.iq {background-position: -144px -96px}
.flag.ie {background-position: -160px -96px}
.flag.im {background-position: -176px -96px}
.flag.il {background-position: -192px -96px}
.flag.it {background-position: -208px -96px}
.flag.jm {background-position: -224px -96px}
.flag.jp {background-position: -240px -96px}
.flag.je {background-position: -0px -112px}
.flag.jo {background-position: -16px -112px}
.flag.kz {background-position: -32px -112px}
.flag.ke {background-position: -48px -112px}
.flag.ki {background-position: -64px -112px}
.flag.kp {background-position: -80px -112px}
.flag.kr {background-position: -96px -112px}
.flag.kw {background-position: -112px -112px}
.flag.kg {background-position: -128px -112px}
.flag.la {background-position: -144px -112px}
.flag.lv {background-position: -160px -112px}
.flag.lb {background-position: -176px -112px}
.flag.ls {background-position: -192px -112px}
.flag.lr {background-position: -208px -112px}
.flag.ly {background-position: -224px -112px}
.flag.li {background-position: -240px -112px}
.flag.lt {background-position: -0px -128px}
.flag.lu {background-position: -16px -128px}
.flag.mo {background-position: -32px -128px}
.flag.mk {background-position: -48px -128px}
.flag.mg {background-position: -64px -128px}
.flag.mw {background-position: -80px -128px}
.flag.my {background-position: -96px -128px}
.flag.mv {background-position: -112px -128px}
.flag.ml {background-position: -128px -128px}
.flag.mt {background-position: -144px -128px}
.flag.mh {background-position: -160px -128px}
.flag.mq {background-position: -176px -128px}
.flag.mr {background-position: -192px -128px}
.flag.mu {background-position: -208px -128px}
.flag.yt {background-position: -224px -128px}
.flag.mx {background-position: -240px -128px}
.flag.fm {background-position: -0px -144px}
.flag.md {background-position: -16px -144px}
.flag.mc {background-position: -32px -144px}
.flag.mn {background-position: -48px -144px}
.flag.me {background-position: -64px -144px}
.flag.ms {background-position: -80px -144px}
.flag.ma {background-position: -96px -144px}
.flag.mz {background-position: -112px -144px}
.flag.mm {background-position: -128px -144px}
.flag.na {background-position: -144px -144px}
.flag.nr {background-position: -160px -144px}
.flag.np {background-position: -176px -144px}
.flag.nl {background-position: -192px -144px}
.flag.nc {background-position: -208px -144px}
.flag.nz {background-position: -224px -144px}
.flag.ni {background-position: -240px -144px}
.flag.ne {background-position: -0px -160px}
.flag.ng {background-position: -16px -160px}
.flag.nu {background-position: -32px -160px}
.flag.nf {background-position: -48px -160px}
.flag.mp {background-position: -64px -160px}
.flag.no {background-position: -80px -160px}
.flag.om {background-position: -96px -160px}
.flag.pk {background-position: -112px -160px}
.flag.pw {background-position: -128px -160px}
.flag.ps {background-position: -144px -160px}
.flag.pa {background-position: -160px -160px}
.flag.pg {background-position: -176px -160px}
.flag.py {background-position: -192px -160px}
.flag.pe {background-position: -208px -160px}
.flag.ph {background-position: -224px -160px}
.flag.pn {background-position: -240px -160px}
.flag.pl {background-position: -0px -176px}
.flag.pt {background-position: -16px -176px}
.flag.pr {background-position: -32px -176px}
.flag.qa {background-position: -48px -176px}
.flag.re {background-position: -64px -176px}
.flag.ro {background-position: -80px -176px}
.flag.ru {background-position: -96px -176px}
.flag.rw {background-position: -112px -176px}
.flag.bl {background-position: -128px -176px}
.flag.sh {background-position: -144px -176px}
.flag.kn {background-position: -160px -176px}
.flag.lc {background-position: -176px -176px}
.flag.mf {background-position: -192px -176px}
.flag.pm {background-position: -208px -176px}
.flag.vc {background-position: -224px -176px}
.flag.ws {background-position: -240px -176px}
.flag.sm {background-position: -0px -192px}
.flag.st {background-position: -16px -192px}
.flag.sa {background-position: -32px -192px}
.flag.sn {background-position: -48px -192px}
.flag.rs {background-position: -64px -192px}
.flag.sc {background-position: -80px -192px}
.flag.sl {background-position: -96px -192px}
.flag.sg {background-position: -112px -192px}
.flag.sx {background-position: -128px -192px}
.flag.sk {background-position: -144px -192px}
.flag.si {background-position: -160px -192px}
.flag.sb {background-position: -176px -192px}
.flag.so {background-position: -192px -192px}
.flag.za {background-position: -208px -192px}
.flag.gs {background-position: -224px -192px}
.flag.ss {background-position: -240px -192px}
.flag.es {background-position: -0px -208px}
.flag.lk {background-position: -16px -208px}
.flag.sd {background-position: -32px -208px}
.flag.sr {background-position: -48px -208px}
.flag.sj {background-position: -64px -208px}
.flag.sz {background-position: -80px -208px}
.flag.se {background-position: -96px -208px}
.flag.ch {background-position: -112px -208px}
.flag.sy {background-position: -128px -208px}
.flag.tw {background-position: -144px -208px}
.flag.tj {background-position: -160px -208px}
.flag.tz {background-position: -176px -208px}
.flag.th {background-position: -192px -208px}
.flag.tl {background-position: -208px -208px}
.flag.tg {background-position: -224px -208px}
.flag.tk {background-position: -240px -208px}
.flag.to {background-position: -0px -224px}
.flag.tt {background-position: -16px -224px}
.flag.tn {background-position: -32px -224px}
.flag.tr {background-position: -48px -224px}
.flag.tm {background-position: -64px -224px}
.flag.tc {background-position: -80px -224px}
.flag.tv {background-position: -96px -224px}
.flag.ug {background-position: -112px -224px}
.flag.ua {background-position: -128px -224px}
.flag.ae {background-position: -144px -224px}
.flag.gb {background-position: -160px -224px}
.flag.us {background-position: -176px -224px}
.flag.um {background-position: -192px -224px}
.flag.uy {background-position: -208px -224px}
.flag.uz {background-position: -224px -224px}
.flag.vu {background-position: -240px -224px}
.flag.ve {background-position: -0px -240px}
.flag.vn {background-position: -16px -240px}
.flag.vg {background-position: -32px -240px}
.flag.vi {background-position: -48px -240px}
.flag.wf {background-position: -64px -240px}
.flag.eh {background-position: -80px -240px}
.flag.ye {background-position: -96px -240px}
.flag.zm {background-position: -112px -240px}
.flag.zw {background-position: -128px -240px}
